
{% extends "organization/organization_base.html" %}
{% load i18n bootstrap_tags %}
{% load url from future %}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="{%url 'organization-base'%}">Organization</a> <span class="divider">/</span></li>
  <li><a href="{%url 'department-list'%}">Department</a><span class="divider">/</span></li> 
 {% if object %}  
  <li><a href="{{ object.get_absolute_url }}">
  {{ object }}</a><span class="divider">/</span></li>
  <li class="active">Update</li>
  {% else %}  
  <li class="active">Create</li>  
  {% endif %}  
</ul>
{% endblock %}
{% block content %}
<div class="well">
<form action="" method="POST" enctype="multipart/form-data">
<fieldset>
    <legend>
 {% if object %}  
  {{ object }} Edit
  {% else %}  
  Create
  {% endif %}   
    </legend>
{% csrf_token %}
{{form|as_bootstrap}}
<button type="submit" class="btn btn-primary">
    {% if not object %}
        <i class="icon-hdd"></i> {% trans "Save" %}
    {% else %}
        <i class="icon-pencil"></i> {% trans "Update" %}    
    {% endif %}
</button>
</fieldset>
</form>
</div>
{% endblock %}
