{% extends "layouts/two_column.html" %}
{% load i18n bootstrap_tags %}
{% load url from future %}

{% block sidebar %}
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Employees
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul class="nav nav-list">
            <li><a href="{% url 'employee-list' %}"><i class="icon-list"></i> List of employees</a></li>
            <li><a href="{% url 'employee-create' %}"><i class="icon-plus"></i> Create new employees</a></li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
