class {{ model }}CreateView(CRUDCreateView):
    model = {{ model }}
    form_class = {{ model }}Form
    success_url = reverse_lazy('{{ model|lower }}-list')

    def get_queryset(self):
        return super({{ model }}CreateView, self).get_queryset()
    
    def form_valid(self, form):
        if not self.request.user.is_anonymous():
            form.instance.created_by = self.request.user
            form.instance.modified_by = self.request.user
        messages.success(self.request, _("Succesfully added!!!"))
        return super({{ model }}CreateView, self).form_valid(form)
        
    def get_context_date(self):
        return super({{ model }}CreateView, self).get_context_data()

class {{ model }}UpdateView(CRUDUpdateView):
    model = {{ model }}
    form_class = {{ model }}Form
    success_url = reverse_lazy('{{ model|lower }}-list')    

    def get_queryset(self):
        return super({{ model }}UpdateView, self).get_queryset()
    
    def form_valid(self, form):
        if not self.request.user.is_anonymous():
            form.instance.modified_by = self.request.user
        form.instance.version += 1
        messages.success(self.request, _("Successfully updated!!!"))        
        return super({{ model }}UpdateView, self).form_valid(form)
        
    def get_context_date(self):
        return super({{ model }}UpdateView, self).get_context_data()


class {{ model }}DetailView(CRUDDetailView):
    model = {{ model }}

    def get_queryset(self):
        return super({{ model }}DetailView, self).get_queryset()
        
    def get_context_date(self):
        return super({{ model }}DetailView, self).get_context_data()
        
class {{ model }}ListView(CRUDListView):
    model = {{ model }}
    paginate_by = 15

    def get_queryset(self):       
        qs = super({{ model }}ListView, self).get_queryset()
        query = self.request.GET.get("q", None)
        sort_type, sort_by = (self.request.GET.get("sort", None), 
            self.request.GET.get("sortby", None),)
            
        if sort_type and sort_by:
            qs = qs.order_by("{}{}".format("" if sort_type=="asc" else "-", sort_by))
        if query:
            qs = qs.filter(
                Q(name__icontains=query) | 
                Q(remarks__icontains=query)
            )
        return qs
        
    def get_context_date(self):
        return super({{ model }}ListView, self).get_context_data()
        
class {{ model }}DeleteView(CRUDDeleteView):
    model = {{ model }}
    success_url = reverse_lazy('{{ model|lower }}-list')
        
    def form_valid(self, form):
        messages.success(self.request, _("Deletion complete!!!"))        
        return super({{ model }}DeleteView, self).form_valid(form)
